Sinobyl/Sinobyl.WPF/SampleData/BoardDesignData/BoardDesignData.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.BoardDesignData" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.BoardDesignData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BoardDesignData" type="tns:BoardDesignData" />
  <xs:complexType name="BoardDesignData">
    <xs:sequence>
      <xs:element name="Squares" type="tns:Squares" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Squares">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="SquaresItem" type="tns:SquaresItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SquaresItem">
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute name="IsLight" type="xs:boolean" />
    <xs:attribute blend:FormatParameters="1" name="RowIndex" type="xs:double" />
    <xs:attribute blend:FormatParameters="1" name="ColIndex" type="xs:double" />
  </xs:complexType>
</xs:schema>